img {
  max-width: 280px;
  border-radius: 10px;

}



.mat-card {
  cursor: zoom-in;
    padding: 8px;
    position: relative;
    display: table-cell;
    border-radius: 7px;
    margin: 10px;
}

.mat-card:hover {
  background-color: rgba(240, 240, 240, 0.589);
}
.mat-card-footer {
  display: block;
  margin: 0 -24px -24px -24px;
  text-align: right;
  margin: 0;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0;
}

.mat-icon-button {
  color: gray;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
