<div class="container-fluid">
  <nav class="pt-2 fixed-top bg-white">
    <a href="#" class="float-left iconPin">
      <i class="fab fa-pinterest text-danger"></i>
    </a>
    <div class="col-12 searching">
      <form>
        <div class="input-group mb-2 mr-sm-2 ml-3 col-12">
          <div class="input-group-prepend ">
            <div class="input-group-text border-0 bg-ligth">
              <i class="fas fa-search iconSearch"></i>
            </div>
          </div>
          <input type="text" class="form-control searchNav border-0" placeholder="Buscar">
          <button type="button" class="button">Inicio</button>
          <button type="button" class="button">Siguiendo</button>
          <button type="button" class="button">Carolina</button>
          <button mat-icon-button class="button-icon">
            <mat-icon>
              chat_bubble
            </mat-icon>
          </button>
          <button mat-icon-button class="button-icon">
            <mat-icon>
              notification_important
            </mat-icon>
          </button>
          <button mat-icon-button class="button-icon">
            <mat-icon>
              more_horiz
            </mat-icon>
          </button>
        </div>
      </form>
    </div>
    <hr class="mt-1">
  </nav>
</div>
