<div class="container-fluid">
  <nav class="pt-2 fixed-top bg-white">
    <a href="#" class="float-left iconPin">
      <i class="fab fa-pinterest text-danger"></i>
    </a>
    <div class="col-9 searching">
      <form>
        <div class="input-group mb-2 mr-sm-2 ml-3 col-12">
          <div class="input-group-prepend ">
            <div class="input-group-text border-0 bg-ligth">
              <i class="fas fa-search iconSearch"></i>
            </div>
          </div>
          <input type="text" class="form-control searchNav border-0" placeholder="Buscar">
        </div>
      </form>
    </div>
    <div class="col-3">

    </div>
    <hr class="mt-1">
  </nav>
</div>
