<div>
  <div class="row" style="display: inline-block">
    <img [src]="data.imageURL" alt="">
  </div>
  <div class="coment-section" style="display: inline-block; padding: 44px;" >
    <hr>
    <h4>Fotos y Comentarios</h4>
    <p>//En proceso</p>
  </div>
</div>
<!-- <div>
  <button type="submit" mat-raised-buttoncolor="accent" (click)="onSubmit(textA.value)">Responder</button>
</div>
<div>
  <textarea matInput placeholder="Respuesta" name="description" #textA>
    </textarea>
</div> -->

<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
      </mat-form-field>
</mat-dialog-actions> .... -->
